
<div class="container-fluid px-0 position-relative">
  <div class="sm_slider">
    <div> <img src="assets/images/sm_img1.jpg" class="img-fluid" /> <div class="slider-content"><h2 class="text-center">Social Media<span>Screening</span></h2></div></div>
    <div> <img src="assets/images/banner-2.jpg" class="img-fluid" /> <div class="slider-content"><h2 class="text-center">Social Media<span>Screening</span></h2></div></div>
    <div> <img src="assets/images/banner-3.jpg" class="img-fluid" /><div class="slider-content"><h2 class="text-center">Social Media<span>Screening</span></h2></div> </div>
  </div>
  <a href="" class="scroll_section text-center" (click)="scrolltoTop($event)"><img src="assets/images/scroll.svg" width="28" height="40"><span class="d-block text-uppercase mt-2">Scroll</span></a>
  <!--<a class="nav-link about_section" href="">About</a>-->
</div>
	<div class="container-fluid px-0 body_bg welcome_container">
    <div class="container">

      <section class="welcome_secton space-y text-center w-lg-75 mx-auto">

        <h2 class="h1 h1big text-uppercase  bottom_border center"><span class="">Welcome to</span>Social Media Check</h2>

        <p class="mt-4 pt-2 ">
          SOCIAL MEDIA CHECK Social Media Check is part of CreateIT LLC, a global company  serving as an umbrella to a variety of high-tech entities.
          Our smart  solutions are now accessible to consumers. Social Media Checks will allow you access social media profiles back to 5 years.
        </p>
        <p class="pb-4 pb-md-0">
          Remember that rant you had in 2017 that you thought no one saw? You thought you deleted it but it may be still cached on the social media site’s server.
          That means it is also  accessible for employers, law enforcement, ex partners/spouses, potential dates, schools/colleges and anyone else looking for you on social media.
        </p>

        <div class="row mt-4 mt-md-5 welcome_threebox">
          <div class="col-md-4 px-lg-4 mb-5 mb-md-0">
            <div class="icon_circle mb-4">
              <span class="sd-history"></span>
            </div>
            <h4>Brief history and snapshot of the future</h4>
            <p class="mb-0 d-inline">
              Social Media Checks has been providing Social Media reports to consumers and private sector entities across many industry platforms.
            </p>

            <div class="collapse" id="read_more">

              Our operations have now expanded international with the US government requiring five years of social media background screening
              as a requirement with work visa applications. Social Media Screening provides both comprehensive and affordable Social Media research tools.
              <a class="d-inline" data-toggle="collapse" href="#read_more" role="button" aria-expanded="false" aria-controls="read_more">
                <i class="far fa-arrow-alt-circle-up  "></i>
              </a>
            </div>
            <a class="d-inline" data-toggle="collapse" href="#read_more" role="button" aria-expanded="false" aria-controls="read_more">
              <i class="far fa-arrow-alt-circle-down"></i>
            </a>
          </div>
          <div class="col-md-4 px-lg-4 mb-5 mb-md-0">
            <div class="icon_circle mb-4">
              <span class="sd-reports"></span>
            </div>
            <h4>How will the report look</h4>
            <p class="mb-0 d-inline">
              Social Media Check delivers quality reports in formats that can be reviewed quickly and efficiently.
            </p>

            <!--<div class="collapse" id="read_more2">

          Our reports are available in PDF or HTML and editable Word.doc
          formats are provided on every case allowing final edits by your staff if required.
          <a class="d-inline" data-toggle="collapse" href="#read_more2" role="button" aria-expanded="false" aria-controls="read_more2">
            <i class="far fa-arrow-alt-circle-up"></i>
          </a>
        </div>
        <a class="d-inline" data-toggle="collapse" href="#read_more2" role="button" aria-expanded="false" aria-controls="read_more2">
          <i class="far fa-arrow-alt-circle-down"></i>
        </a>-->
            <div class="mt-3"><a href="/assets/documents/sample.pdf" target="_blank" class="btn btn-orange"><i class="far fa-file-pdf mr-2"></i> Sample Report</a></div>
          </div>
          <div class="col-md-4 px-lg-4 ">
            <div class="icon_circle mb-4">
              <span class="sd-investigation"></span>
            </div>
            <h4>Stories and Use Cases</h4>
            <p class="mb-0 d-inline">
              If you currently are not using social media in your investigations, we highly encourage you to do so.
            </p>

            <div class="collapse" id="read_more3">

              No investigator wants to miss critical information that was simply a social media search away.
              Learn more about the value of social media investigations as part of your process.
              <a class="d-inline" data-toggle="collapse" href="#read_more3" role="button" aria-expanded="false" aria-controls="read_more3">
                <i class="far fa-arrow-alt-circle-up"></i>
              </a>
            </div>
            <a class="d-inline" data-toggle="collapse" href="#read_more3" role="button" aria-expanded="false" aria-controls="read_more3">
              <i class="far fa-arrow-alt-circle-down"></i>
            </a>

          </div>
        </div>
      </section>
      <hr class="divider">
      <section class="middle_section ">
        <div class="row space-y">
          <div class="col-lg-6 middle_section_content order-2 order-lg-1">
            <h4 class="border_bottom text-capitalize bottom_border mb-4">Why Choose SocialMediaCheck.com?</h4>
            <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the specimen book.</p>-->

            <ul class="theme_ul">
              <li class="mb-2"><i class="fas fa-check"></i>Best-in-class proprietary search technology platform</li>
              <li class="mb-2"><i class="fas fa-check"></i>Most accurate search results – combining machine learning software and human intelligence</li>
              <li class="mb-2"><i class="fas fa-check"></i>No long-term commitments</li>
              <li class="mb-2"><i class="fas fa-check"></i>Full compliance with global regulatory standards</li>
              <li class="mb-2"><i class="fas fa-check"></i>Encrypted storage and transferring of data</li>
            </ul>
            <!--<a href="" class="btn btn-orange mt-xl-4">Lorem</a>-->
          </div>
          <div class="col-lg-6 pl-md-4 order-1 order-lg-2 mb-4 mb-md-5 mb-lg-0">
            <div class="middle_content_thumb d-inline-block position-relative"><img src="assets/images/social-banner.png" class="img-fluid" /></div>
          </div>
        </div>

        <hr class="half_divider my-0 my-lg-3">
        <div class="row space-y">
          <div class="col-lg-6 pr-md-4 mb-4 mb-md-5 mb-lg-0">
            <div class="middle_content_thumb d-inline-block position-relative"><img src="assets/images/social-banner1.png" class="img-fluid" /></div>
          </div>

          <div class="col-lg-6 middle_section_content even">
            <h4 class="border_bottom text-capitalize bottom_border mb-4">Core Partners</h4>
            <p>Private Investigators from all disciplines make up a great core of our loyal customers. This platform is now available to various sectors from the education to the consumer markets including:</p>
            <div class="d-flex flex-column flex-md-row">
              <ul class="theme_ul col-md-6 mb-0">
                <li class="mb-2"><i class="fas fa-check"></i>Parents</li>
                <li class="mb-2"><i class="fas fa-check"></i>Universities</li>
                <li class="mb-2"><i class="fas fa-check"></i>Dating websites</li>
              </ul>
              <ul class="theme_ul col-md-6 mb-0">
                <li class="mb-2"><i class="fas fa-check"></i>Ex partners/spouses</li>
                <li class="mb-2"><i class="fas fa-check"></i>Employment Agencies</li>
                <li class="mb-2"><i class="fas fa-check"></i>Property Management companies</li>
              </ul>
            </div>

            <!--<a href="" class="btn btn-orange mt-xl-4">Lorem</a>-->
          </div>
          <!--<p class="col-12  mt-0 mt-lg-4">Think About It</p>
          <p class="col-12">
            Yes, your child has the grades and test scores but their social media irresponsibility can keep them from entrance into the university of their choice.
          </p>

          <p class="col-12">
            Current employers and potential employers are legally running your social media profile and searching for key words in your account.
            The future is to score consumers on their social media profile.
            The analytics for the algorithm is already being created.  And guess what?  You are not safe because you don’t have a profile.  It’s equivalent to having no credit.
          </p>-->

        </div>
      </section>

      <section class="space-y text-center w-lg-75 mx-auto pt-0 mt-lg-4">

        <h2 class="h1 h1big text-uppercase  bottom_border center mb-3 mb-lg-4">Think About It</h2>

        <p class="">
          Yes, your child has the grades and test scores but their social media irresponsibility can keep them from entrance into the university of their choice.
        </p>

        <p class="">
          Current employers and potential employers are legally running your social media profile and searching for key words in your account.
          The future is to score consumers on their social media profile.
          The analytics for the algorithm is already being created.  And guess what?  You are not safe because you don’t have a profile.  It’s equivalent to having no credit.
        </p>

      </section>

    </div>
	</div>
	<section class="container-fluid besure_section px-0 space-y">
		<div class="container besure_container">
			<div class="row">
				<div class="col-lg-8">
          <h2 class="h1 h1big text-uppercase bottom_border text-white mb-3">Try our Be Sure Service</h2>
          <h4 class="text-white">The fast, affordable and accurate way to find out what is on your background check.</h4>
		</div>
		<div class="col-lg-4 pt-2 pt-lg-4 d-flex align-items-center justify-content-center">
			<a href="https://besurebackgroundchecks.com/" target="_blank" class="btn mt-2">Start New Background Check</a>
		</div>
		</div>
		</div>
	</section>
	
